body {
  margin: 0;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  background-color: #f4f4f4;
  color: #3e3e3e;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

h2 {
  color: #585ab3;
}

.pink-text {
  color: rgb(68, 124, 207)
}

.page-wrap {
  margin: 0 auto;
  padding: 2rem 1rem;
  max-width: 680px;
}

.header {
  margin-bottom: 2rem;
}

.row-content-wrap {
  display: flex;
  flex-flow: row wrap;
}

.column-content-wrap {
  display: flex;
  flex-flow: column wrap;
}

.text-icon {
  display: flex;
  font-size: 3em;
  justify-content: center;
  font-family: 'Press Start 2P', cursive;
}

.text-icon > p {
  margin: 0;
}

.paragraph-wrap {
  display: flex;
  flex-flow: column wrap;
  justify-content: start;
}

.paragraph-wrap > p {
  margin: 0 0 1rem;
  text-align: justify;
}
