body {
  margin: 0;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  background-color: #f4f4f4;
  color: #3e3e3e;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

.content-wrap {
  margin: 0 auto;
  max-width: 680px;
}